.Hero{
    border: solid black 1px;
    background-color: darkgoldenrod;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
}

.Titre{
    font: 4rem "Fira Sans", sans-serif;
    justify-content: center;
}

.Bouton{
    margin: 5% 40%;
    padding: 10px 20px;
    font-size: 16px;
}